* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: white;
  line-height: 50px;
}

.img-width {
  width: 200px !important;
}

main section:nth-child(1),main section:nth-child(3) {
  background-color: rgb(26, 188, 156);
  color: white;
}

.bg-nav{
  background-color: rgb(58, 84, 109);
}

.bg-foot{
  background-color: rgb(44, 62, 80);
}