* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  color: white;
}

.img-width {
  width: 30% !important;
}

.pf-img-width{
  width: 100% !important;
  border-radius: 20px;
}

main section:nth-child(1),main section:nth-child(3) {
  background-color: rgb(26, 188, 156);
  color: white;
}

.bg-nav{
  background-color: rgb(58, 84, 109);
}

.bg-foot{
  background-color: rgb(44, 62, 80);
}

footer{
  text-align: center;
  color: white;
}